Data Analytics II

Implement logistic regression using Python/R to perform classification on Social_Network_Ads.csv dataset.
Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on the given dataset.

In [44]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import  confusion_matrix , accuracy_score  , precision_score,recall_score , f1_score , classification_report

In [45]:
temp = pd.read_csv("Social_Network_Ads.csv")
data = pd.DataFrame(temp)
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [46]:
data = data.drop('Gender', axis=1)

In [47]:
X = data.drop('Purchased',axis=1)
y = data['Purchased']

logistic regression

In [48]:
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size= 0.2)
logistic_model = LogisticRegression(random_state=0)
logistic_model.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [49]:
#step --> predict train data
y_pred_train = logistic_model.predict(x_train)

In [41]:
#step --> predict test data
y_pred_test = logistic_model.predict(x_test)

 TP, FP, TN, FN --> confusion matrix

In [50]:
confusion_matrix(y_test,y_pred_test)

array([[56,  2],
       [12, 10]], dtype=int64)

Confusion matrix --> Precision, Recall

In [43]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.82      0.97      0.89        58
           1       0.83      0.45      0.59        22

    accuracy                           0.82        80
   macro avg       0.83      0.71      0.74        80
weighted avg       0.83      0.82      0.81        80

Accuracy, Error rate.

In [53]:
accuracy = accuracy_score(y_test, y_pred_test)
error_rate  = 1 -accuracy
print("accuracy := ",accuracy,"----"," error rate := ",error_rate)

accuracy :=  0.825 ----  error rate :=  0.17500000000000004